/* 
Student Name: Laura Ristoff 
Date: 04/21/2021
File Name: styles.css
*/ 

/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Style rules for body and images and headings*/
body {
    background-color: #faf9f9;
    color: #343A40;
    font-family: 'Montserrat', Arial, sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    font-family: atocha,sans-serif;
    font-weight: 400;
    font-style: normal;
<<<<<<< HEAD
    text-align: center;
}

h3 {
    font-family: "Oswald", sans-serif;
    text-align: center;
}

=======
}

h3 {
    font-family: "Oswald", sans-serif;
}

>>>>>>> e043bcf4d1defd6c2e9b3ac3057fabdd0b21e0e1
/*Style rules for header*/
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #faf9f9;
<<<<<<< HEAD
    height: 125px;    
=======
    height: 150px;    
>>>>>>> e043bcf4d1defd6c2e9b3ac3057fabdd0b21e0e1
}

header img {
    margin: 0 auto;
<<<<<<< HEAD
    width: auto;
}

/*Show mobile class, hide tablet class*/



=======
    background-color: #faf9f9;
}

>>>>>>> e043bcf4d1defd6c2e9b3ac3057fabdd0b21e0e1
/*Style rules for navigation*/
nav {
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.75em;
    font-family: "Oswald", Arial, sans-serif;
    border-top: 1px solid #343A40;
}

nav li:first-child {
    border-top: none;
}

nav li a {
    display: block;
    color:#343A40;
    padding: 0.5em 1em;
    text-decoration: none;
}



/*Style rules for main content area*/
 main {
    background: hsla(154, 100%, 76%, 1);

    background: linear-gradient(90deg, hsla(154, 100%, 76%, 0.3) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(154, 100%, 76%, 0.3) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(154, 100%, 76%, 0.3) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);
<<<<<<< HEAD
   
=======
    
>>>>>>> e043bcf4d1defd6c2e9b3ac3057fabdd0b21e0e1
    font-size: 1.15em;
    margin: 3%;
    border-radius: 20px;
    text-align: center;
    padding: 2%;
<<<<<<< HEAD
    clear: right;
 }


.about {
    width: 100%;
    text-align: left; 
     
}

#adobe, #msoffice, #mta {
    margin: 0 2%;
    text-align: left;
}

#adobe ul li {
    list-style-type: none;
}

.form {
    text-align: left;
}
=======
 }

 
.portait {
    padding: 1%; 
    text-align: center;
    width: 50%;
}


.about {
    width: 100%;
    text-align: center;   
}

>>>>>>> e043bcf4d1defd6c2e9b3ac3057fabdd0b21e0e1

/*Style rules for certificatons page */

 
 #contact {
    text-align: center;
}



/*Style rules for footer area*/
 footer {
    font-size: 1em;
    text-align: center;
    color:#343A40;
    padding: 0 1em;
    clear: both;
}


footer a {
    color:#343A40;
    padding: 0.5em;
}

<<<<<<< HEAD



/*Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {


/*Tablet Viewport: show tablet-desktop class, hide mobile class*/
.tablet-desktop {
    display: block;
}


/*Tablet Viewport: style rule for header*/
header {
    position: static;
    padding-bottom: 2%;
}


/*Tablet Viewport: style rules for nav area*/
nav li {
    border-top: none;
    display: inline-block;
    
}

nav li a {
    padding: 0.1em 0.75em;
}

}/*End Media Query: Tablet*/


/*Media Query for Desktop Viewport*/
@media screen and (min-width: 1015px), print {

    /*Desktop Viewport: Style rule for header*/
header {
    width: 25%;
=======
/*footer p {
>>>>>>> e043bcf4d1defd6c2e9b3ac3057fabdd0b21e0e1
    float: left;
    padding-bottom: 0;
}
<<<<<<< HEAD



/*Desktop Viewport: Style rules for nav area */
nav {
    float: right;
    width: 70%;
    margin: 1em 1em 0 0;
    padding-bottom: 4%;
}

nav ul {
    text-align: right;
}

nav li {
    border: none;
}

nav li a {
    padding: 0.5em 1em;
}

nav li a:hover {
    color: #faf9f9;
    background-color: #343A40;
    border-radius: 10px;
}

/*Desktop Viewport: Style Rules for Main */
#adobe, #msoffice, #mta {
    width: 29%;
    float: left;
    margin: 0 2%;
}



}/*End Media Query: Desktop*/

/*Media Query for Large Desktop Viewports*/
@media screen and (min-width: 1921px) {

    #container {
        width: 1920px;
        margin: 0 auto;
    }

}/*End Media Query for Large Viewport*/

/*Media Query for Print*/
@media print {

    body {
        background-color: #fff;
        color: #000;
    }
}
=======
*/
footer a {
    color:#343A40;
    padding: 0.5em;
}

>>>>>>> e043bcf4d1defd6c2e9b3ac3057fabdd0b21e0e1
